<h1 class="mt-4">Pessoas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click) = "novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>    
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table  class="table table-condensed table-hover" >
                <thead>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Data Nascimento</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas">
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.cpf }}</td>
                        <td>{{ pessoa.email }}</td>
                        <td>{{ pessoa.sexo }}</td>
                        <td>{{ pessoa.dataNascimento }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/pessoas-form/{{ pessoa.id }}">
                                <i class="fa fa-user-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>